.jumbotron {
  background-image: url("../img/backgrounds/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
  margin-bottom: 0: border:0;
}

#jumbo {
  text-align: center;
  color: #ffffff;
}

#tagline {
  font-size: 50px;
}

#breakfast {
  background-image: url("../img/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100%;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  border: 1px;
  border-color: #000000;
  margin-bottom: 0;
  padding-top: 3%;
  height: 10rem;
}

#breakfast:hover {
  opacity: 0.5;
  color: #000000;
}

#lunch:hover {
  opacity: 0.5;
  color: #000000;
}

#dinner:hover {
  opacity: 0.5;
  color: #000000;
}

#lunch {
  background-image: url("../img/foodtop/lunch.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
  padding-top: 3%;
  height: 10rem;
}

#dinner {
  background-image: url("../img/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
  padding-top: 3%;
  height: 10rem;
}

.happy-party {
  margin-left: 0;
}

#party {
  background-color: #F15A29;
  text-align: center;
  margin-bottom: 0;
  padding-top: 4%;
}

#happy {
  text-align: center;
  padding-top: 4%;
}

.gallery-menu {
  background-image: url("../img/backgrounds/foodsBg.jpg");
  height: 500px;
  color: #000000;
  padding-top: 10%;
}

.subscription {
  background-image: url("../img/backgrounds/subscribe.jpg");
}

.footer {
  background-color: #F15A29;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
}

.card {
  max-width: 30rem;
  width: auto;
  padding: 16;
  max-height: 25rem;
  height: auto;
}

.subscription {
  color: #ffffff;
  text-align: center;
  height: 300px;
  padding-top: 100px;
}

.drinks {
  text-align: right;
  padding-bottom: 7%;
  padding-top: 7%;
}

.card-body {
  background-color: #ffffff;
  margin: auto;
}

#card-img2 {
  padding-left: 0;
  border-radius: 0;
}

#card-img1 {
  padding-right: 0;
  border-radius: 0;
}

.gal-sel {
  border-color: #F15A29;
  border: 3px;
}

.testimony {
  min-width: 80%;
  text-align: center;
  box-shadow: 0 4px 5px 4px rgba(7, 59, 244, 0.2), 10px 6px 20px 10px rgba(0, 48, 254, 0.2);
}

.testimonials {
  padding-top: 10%;
  padding-bottom: 10%;
}

.fast-food {
  padding-top: 5%;
}

.meals-crd {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.gal {
  min-width: 80%;
}

.meals-row {
  max-height: 20rem;
  height: inherit;
}

.about {
  border-left: 1px;
  border-color: rgba(96, 95, 85, 0.65);
  border-style: solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}

.hite {
  max-height: 10rem;
}

.arrow-left {
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 70px;
  font-size: 45px;
  color: #F15A29;
}

.arrow-right {
  padding: 0;
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 70px;
  font-size: 45px;
  color: #F15A29;
}

#right-arrow {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  font-size: 20px;
  color: #F15A29;
}

#left-arrow {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  font-size: 20px;
  color: #F15A29;
}

body {
  font-family: 'ubuntu', sans-serif;
}

.form-control{
  width : 30%;
  opacity: .7;
  margin-left: auto;
  margin-right: auto;
}

.form .btn{
  margin-left: 0;
  padding: 10px 50px 10px 50px;
}

/*full screen menu styles*/

.full-menu {
  visibility: hidden;
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: rgba(#f15a29, 0.9);
  -webkit-transform: scale(0.85);
  /-ms-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.full-menu-open {
  visibility: visible;
  opacity: 1;
}

.full-menu-middle {
  display: table-cell;
  vertical-align: middle;
}

.menu-toggle {
  border: 0;
  color: #ffffff;
  background-color: transparent;
  position: absolute;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  min-width: 5rem;
  font-size: 45px;
}

.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.main-nav li {
  margin: 0 0 30px 0;
}

.main-nav li a {
  font-size: 60px;
  color: #000;
  font-weight: bold;
  line-height: 80px;
}
