.jumbotron{
  background-image: url("../img/backgrounds/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  border-radius: 0;
  margin-bottom: 0:
  border:0;
}

#tagline{
  font-size: 50px;
}

#breakfast{
  background-image: url("../img/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100%;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  border: 1px;
  border-color: #000000;
  margin-bottom: 0;
  padding: 0;
  height: 10rem;
}

#breakfast:hover{
  opacity:  0.5;
  color: #000000;
}

#lunch:hover{
  opacity:  0.5;
  color: #000000;
}

#dinner:hover{
  opacity:  0.5;
  color: #000000;
}

#lunch{
  background-image: url("../img/foodtop/lunch.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
  padding: 0;
  height: 10rem;
}

#dinner{
  background-image: url("../img/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
  padding: 0;
  height: 10rem;
}

.happy-party{
  margin-left: 0;
}

.party{
  background-color: #F15A29;
  text-align: center;
  margin-bottom: 0;
}

#happy{
  text-align: center;
}

.gallery-menu{
  background-image: url("../img/backgrounds/foodsBg.jpg");
  height: 500px;
  color: #000000;
  padding-top: 10%;
}

.subscription{
  background-image: url("../img/backgrounds/subscribe.jpg");
}

.footer{
  background-color: #F15A29;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card {
  max-width: 30rem;
  width: auto;
  padding: 16;
  max-height: 25rem;
  height: auto;
}

.subscription{
  color: #ffffff;
  text-align: center;
  height: 300px;
  padding-top: 100px;
}

.drinks{
  text-align: right;
  padding-bottom: 7%;
  padding-top:7%;
}

.card-body{
  background-color: #ffffff;
  margin: auto;
}

.card-img2{
  padding-left: 0;
  border-radius: 0;
}

.card-img1{
  padding-right: 0;
  border-radius: 0;
}

.gal-sel{
  border-color: #F15A29;
  border: 3px;
}

.testimony{
  min-width: 80%;
  text-align: center;
  box-shadow: 0 4px 5px 4px rgba(7, 59, 244, 0.2), 10px 6px 20px 10px rgba(0, 48, 254, 0.2);
}

.testimonials{
  padding-top: 10%;
  padding-bottom: 10%;
}

.fast-food{
  padding-top: 5%;
}

.meals-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gal{
  min-width: 80%;
}

.meals-row{
  max-height: 25rem;
  height: inherit;
}
