.container{

}

.jumbotron{
  background-image: url("../img/backgrounds/landing.jpg");
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0;
  border: 0;
}

#tagline{
  font-size: 50px;
}

#breakfast{
  background-image: url("../img/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border:0;
  margin:  0px;
  font-size: 40px;
  text-align: center;
  color: #ffffff;

}

#lunch{
  background-image: url("../img/foodtop/lunch.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin:  0px;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}

#dinner{
  background-image: url("../img/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin:  0px;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}


.party{
  background-color: #F15A29;
  border:0;
  margin:0;
}

.row{
  border:0;
  padding: 0;
}

div{
  padding: 0;
}

.gallery-menu{
  background-image: url("../img/backgrounds/foodsBg.jpg");
}

.subscription{
  background-image: url("../img/backgrounds/subscribe.jpg");
}
